input {
    width: 100%;
    border: 0;
    background-color: #ececf1;
    border-radius: 10px!important;
    padding: 10px 15px;
    outline: none;
    display: block;
    margin-bottom: 10px!important;
}

button {
    margin: 0 auto!important;
    border-radius: 50px!important;
    display: block;
    font-weight: bold;
    border: 0;
    background-color: black;
    color: #fff;
    padding: 10px 40px;
}
