h1 {
    font-weight: 700!important;
}

ol {
    margin: 10px 0 0 0;
    padding: 0;
    li {
        background-color: #eee;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        font-weight: bold;
    }

}
